<section class="list-box-container" data-id="{{box.id}}" [ngClass]="{ 'list-box-container-active' : active }">
    <div class="lbc-head" (click) = "changeBigCard($event)">
        <span class="lbc-bg" [ngStyle]="{'background-image': 'url('+box.img+')'}"></span>
        <time class="lbc-time">{{box.date}}</time>
    </div>
    <div class="lbc-content">
        <h4 class="lbc-ctitle">{{box.title}}</h4>
        <p class="lbc-ctxt" data-length='88'>{{box.content}}</p>
        <span class="lbc-cmask"></span>
    </div>
</section>
