/* 引入公共属性方法 */
@import "src/libs/basic.scss";
@import "src/libs/mixin.scss";


.list-page{
    @include wh(100%,100%);color:#fff;position: relative;
    .page-top-place{
        width:100%;height:calcs(100);@include bgColor(#4d5bdb);position: fixed;top:0;left:0;
    }
    .page-bottom-place{
        width:100%;height:calcs(105);@include bgColor(#4d5bdb);position: fixed;bottom:0;left:0;
    }
    .list-container{
        width:100%;position: absolute;top:calcs(100);bottom:calcs(105);overflow: hidden;
        .list-motion-box{
            width:100%;height:calcs(910);position: absolute;@include bgColor(red);bottom:0;width: calcs(3000);display: flex;box-sizing:border-box;padding-top: 100px;overflow: hidden;position: relative;left: calcs(-1125);
        }
    }
}
