/* 引入公共属性方法 */
@import "src/libs/basic.scss";
@import "src/libs/mixin.scss";


/* 定义动画 */
@keyframes keyBoardMotion{
    0%{
        transform: translateX(-50%) scale(0.95);
        @include bgColor(rgba(255,255,255,0.15));
    }
    50%{
        transform: translateX(-50%) scale(1.2);
        @include bgColor(rgba(255,255,255,0.2));
    }
    100%{
        transform: translateX(-50%) scale(0.95);
        @include bgColor(rgba(255,255,255,0.15));
    }
}


/* 锁屏页面 */
.lock-page{ 
    @include wh(100%, 100%); background-color: #333;color: #fff; position: fixed;top: 0;left: 0;bottom: 0;right: 0;
    /* 背景 */
    .lp-background{
        @include wh(100%, 100%); @include bgImg('./images/lock_bg.jpg');@include ab(0,0);
    }
    .lp-show{
        @include ab(0,0); @include wh(100%, 100%); position: relative;

        /* 时间展示信息 */
        .lp-hg{
            @include wh(70%,auto);margin: 0 auto;margin-top: 150px;text-align: left; position: absolute; left: calcs(50);bottom: calcs(150);
            h3,h4{
                font-weight: 500;
            }
            h4{ line-height: calcs(30); }
            .lp-duration{ font-size: calcs(100); font-weight: 200; }
            .lp-point{ font-style: normal;position: relative;top: calcs(-10); animation-iteration-count: infinite;animation-duration: 2s; }
            .lp-detail-time{ font-size: calcs(25); }
            .icon-group{
                .icon-info{
                    font-size: calcs(23);padding-left: calcs(50);margin-left:calcs(20);position: relative;font-weight:300;
                    &:first-of-type{ margin-left:0; }
                    &:before{
                        content:'';display: block;@include whRem(36,28);@include bgImg('./images/message.png');position: absolute;left:0;top:calcs(3);
                    }
                }
                .icon-message{
                    &:before{
                        @include bgImg('./images/message_2.png');@include whRem(32,28);
                    }
                }
                .icon-speech{
                    &:before{
                        @include bgImg('./images/voice.png');@include whRem(36,33);top:calcs(0);
                    }
                }
            }
        }  
    }
     /* 按键操作层 */
    .lp-interaction{
        @include ab(0,0); @include wh(100%, 100%);
        .lpi-bg{
             @include wh(100%, 100%); @include bgColor(rgba(0,0,0,0.8));@include ab(0,0);
        }

        /* 键盘部分 */
        .lpi-keyboard{
            @include whRem(750,892); position:fixed;left:0;bottom:0;@include pad(0,16);box-sizing: border-box;
            .info-board{
                @include whRem(718,92);text-align: center;color:white;letter-spacing: calcs(5);line-height: calcs(92);
                .ib-text{
                    font-size: calcs(25);display:block;animation-duration:0.8s;
                }
            }
            .pwd-board{
                @include whRem(718,106);border-bottom: 2px solid rgba(255,255,255,0.2);padding: 0 calcs(10);box-sizing:border-box;position: relative;
                .pwd-input{
                    display: block;@include wh(100%,100%);display: flex;flex-wrap: nowrap;justify-content:center;align-items:center;
                    .pwd-input-text{
                        display: block;@include bgColor(white);@include whRem(25,25);border-radius:50%;font-size:calcs(16);margin-right: calcs(12);
                    }
                }
                .pwd-btn{
                    display: block;@include whRem(45,32);@include bgImg('./images/delete.png');position: absolute;right:calcs(50);top:50%;transform:translateY(-50%);
                    .circle-mask{
                        @include whRem(134,134);position: absolute;border-radius:50%;@include bgColor(rgba(255,255,255,0));
                        left:50%;top:calcs(-52);transform: translateX(-50%) scale(0.3);margin-top:0;transition:.2s linear;
                    }
                    &:hover{
                            .circle-mask{ 
                            transform: translateX(-50%) scale(0.95); @include bgColor(rgba(255,255,255,0.15)); 
                        }
                    }
                    &:active{
                        .circle-mask{
                            animation: keyBoardMotion ease .8s;
                        }
                    }
                }
            }
            .num-board{
                @include whRem(718,694);
                .num-board-wrap{
                    width:100%;height:calcs(550);display: flex;flex-wrap:wrap;position: relative;align-content: flex-start;position: relative;top:calcs(15);
                    .nbw-item{
                        width:33.33%;height:calcs(134);text-align:center;position: relative;
                        span{
                            font-size: calcs(39);display: block;margin-top: calcs(26);font-weight:500;
                        }
                        em{
                            font-style: normal;font-size: calcs(22);display: block;font-weight:300;
                        }
                        .circle-mask{
                            @include whRem(134,134);position: absolute;border-radius:50%;@include bgColor(rgba(255,255,255,0));
                            left:50%;transform: translateX(-50%) scale(.3);margin-top:0;transition:.2s linear;
                        }
                        &:hover{
                            .circle-mask{ 
                                transform: translateX(-50%) scale(0.95); @include bgColor(rgba(255,255,255,0.15)); 
                            }
                        }
                        &:active{
                            .circle-mask{
                                animation: keyBoardMotion ease .8s;
                            }
                        }
                    }

                }
                /* back */
                .num-board-footer{
                    width: 100%; height:calcs(134);
                    .back-command{
                        display:block;width:33.33%;height:calcs(134);position: relative;
                        &::before{
                            content:'';@include whRem(0,0);position: absolute;left:calcs(118);top:calc(50% - 20px);border-top:20px solid transparent;border-bottom:20px solid transparent;border-right:23px solid white;
                        }
                        .circle-mask{
                            @include whRem(134,134);position: absolute;border-radius:50%;@include bgColor(rgba(255,255,255,0));
                            left:55%;transform: translateX(-50%) scale(0.95);margin-top:0;transition:.2s linear;
                        }
                        &:hover{
                            .circle-mask{ 
                                transform: translateX(-50%) scale(0.95); @include bgColor(rgba(255,255,255,0.15)); 
                            }
                        }
                        &:active{
                            .circle-mask{
                                animation: keyBoardMotion ease .8s;
                            }
                        }    
                    }
                    
                }
            }

        }


    }
}