<!-- 锁屏界面 -->
<div class="lock-page">
    
    <!-- 背景层 -->
    <section class="lp-background"></section>

    <!-- 展示层 -->
    <section class="lp-show">
        <section class="lp-hg">
            <h3 class="date-motion-box ">
                <time class="lp-duration">{{lock.hour}}<em class="lp-point animated">:</em>{{lock.minute}}</time>
            </h3>
            <h4 class="date-motion-box">
                <span class="lp-detail-time">{{lock.datetime.year}}/{{lock.datetime.month}}/{{lock.datetime.day}} . {{lock.datetime.week}} </span>
            </h4>
            <div class="icon-group date-motion-box">
                <span class="icon-info icon-message">99</span>
                <span class="icon-info icon-speech">36</span>
            </div>
        </section>
    </section>

    <!-- 交互层 -->
    <section class="lp-interaction">
        
        <!-- 交互半透明背景层 -->
        <div class="lpi-bg"></div>

        <!-- 键盘层 -->
        <div class="lpi-keyboard">

            <!-- 显示信息层 -->
            <!--  *ngIf="keyBoard.openTip" [ngClass]="{'animated jackInTheBox': keyBoard.openTip }" -->
            <div class="info-board leave-enter-motion">
                <span class="ib-text animated" *ngIf="keyBoard.openTip" [ngClass]="[keyBoard.tipAnimationName]">{{keyBoard.tips}}</span>
            </div>

            <!-- 密码显示框 -->
            <div class="pwd-board leave-enter-motion">
                <span class="pwd-input">
                    <i class="pwd-input-text animated" [ngClass]="{'bounceIn': (i==keyBoard.passWord.length-1) && keyBoard.enterPassword }" *ngFor="let pwd of keyBoard.passWord; index as i;"></i>
                </span>
                <span class="pwd-btn" (click)="onClickDelete()">
                    <span class="circle-mask"></span>
                </span>
            </div>

            <!-- 数字键盘 -->
            <div class="num-board">
                
                <ul class="num-board-wrap">
                    <li class="nbw-item leave-enter-motion" *ngFor="let board of keyBoard.boards" (click)="onClickBoard(board)">
                        <span class="circle-mask" *ngIf="board.active"></span>
                        <span>{{board.title}}</span>
                        <em>{{board.detail}}</em>
                    </li>
                </ul>
                
                <section class="num-board-footer leave-enter-motion">
                    <span class="back-command" (click)="onClickBack()">
                         <span class="circle-mask" ></span>
                    </span>
                </section>

            </div>
            
        </div>

    </section>

</div>
