<!-- 锁屏界面 -->
<div class="lock-page">
    
    <!-- 背景层 -->
    <section class="lp-background">
        background
    </section>

    <!-- 展示层 -->
    <section class="lp-show">
        <section class="lp-hg">
            <h3>
                <time class="lp-duration">{{lock.time}}</time>
            </h3>
            <h4>
                <span class="lp-detail-time">5年12月2个星期</span>
            </h4>
        </section>
    </section>

    <!-- 交互层 -->
    <section class="lp-interaction">
        
        <!-- 交互半透明背景层 -->
        <div class="lpi-bg"></div>

        <!-- 键盘层 -->
        <div class="lpi-keyboard">

            <!-- 显示信息层 -->
            <div class="info-board">
                <span class="ib-text" [ngClass]="{'animated tada': keyBoard.openTip }">{{keyBoard.tips}}</span>
            </div>

            <!-- 密码显示框 -->
            <div class="pwd-board">
                <span class="pwd-input">
                    <i class="pwd-input-text animated" [ngClass]="{'bounceIn': (i==keyBoard.passWord.length-1) && keyBoard.enterPassword }" *ngFor="let pwd of keyBoard.passWord; index as i;"></i>
                </span>
                <span class="pwd-btn" (click)="onClickDelete()">
                    <span class="circle-mask"></span>
                </span>
            </div>

            <!-- 数字键盘 -->
            <div class="num-board">
                
                <ul class="num-board-wrap">
                    <li class="nbw-item" *ngFor="let board of keyBoard.boards" (click)="onClickBoard(board)">
                        <span class="circle-mask" *ngIf="board.active"></span>
                        <span>{{board.title}}</span>
                        <em>{{board.detail}}</em>
                    </li>
                </ul>
                
                <section class="num-board-footer">
                    <span class="back-command">
                         <span class="circle-mask"></span>
                    </span>
                </section>

            </div>
            
        </div>

    </section>

</div>
