<section class="list-detail-container">
    

    <!-- 详情页标题 -->
    <div class="dc-title-content">
        <div class="dh-mask"></div>
        <span class="detail-header-title">xxxxxxx - RIVERS</span>
        <div class="detail-header-music">
            <span class="dhm-line" *ngFor="let user of [1,2,3,4]"></span>
        </div>
        <!-- 返回按钮 -->
        <span class="dc-back-btn"></span>
    </div>

    <!-- detail-header -->
    <section class="detail-header">
        <div class="detail-header-img" [ngStyle]="{'backgroundImage': 'url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1545195763264&di=a1a5e107faf7d91be52dc01885e0da6a&imgtype=0&src=http%3A%2F%2Fp1.so.qhimgs1.com%2Ft01212106998b0b7abd.jpg)' }"></div>
        <div class="dh-mask"></div>
        <span class="detail-header-line"></span>
        <span class="detail-header-time">2015年8月12日</span>
        <div class="detail-header-tags" >
            <ng-container *ngFor="let item of currentLabels;let i = index;">
                <span class="dht-tag animated"  [ngClass]="styleMethod01(i)" ><em [ngStyle]="{'background-color':'rgba(0,0,0,'+ (1-i/currentLabels.length)*0.8 +')','color':'rgba(255,255,255,'+ (1-i/currentLabels.length)*1.2 +')'}" >{{item}}</em></span>
            </ng-container>
        </div>
        <!-- <span class="detail-header-title">标题xxxxxxx - RIVERS</span>
        <div class="detail-header-music">
            <span class="dhm-line" *ngFor="let user of [1,2,3,4]"></span>
        </div> -->
    </section>
    

    <!-- 限制固定高度 实现 better-scroll -->
    <div class="detail-scroll-overflow" #scroll>

        <!-- detail content -->
        <section class="detail-content">
            
            <!-- 详情页内容 -->
            <figure class="detail-content-info">
                <figcaption class="dci-title">今日心情旋律：古典曲《罗密欧与朱丽叶》</figcaption>
                <div class="dci-content">
                    <p>每天放学都喜欢静静地听听各种音乐，翻找着专属于今天的曲子。每种曲调，每种悠扬，每种节拍等等，如果都和我的心情契合度很高的，也许它就是我今天最好的知己了，互相倾述着，相互沉醉。</p>
                    <p>温馨提示：浏览本页面时，最好把音乐打开，然后再进行阅读。因为既然我添加了推荐音乐，那就说明，我是戴着耳机，往复听这首歌完成对这个页面创作的。（当然也不强求的啦，你觉得怎样更好，就以怎样的方式阅读吧）</p>
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1333879442,847322849&fm=26&gp=0.jpg" />
                </div>
            </figure>


            <figure class="detail-content-info">
                <figcaption class="dci-title">今日心情旋律：古典曲《罗密欧与朱丽叶》</figcaption>
                <div class="dci-content">
                    <p>每天放学都喜欢静静地听听各种音乐，翻找着专属于今天的曲子。每种曲调，每种悠扬，每种节拍等等，如果都和我的心情契合度很高的，也许它就是我今天最好的知己了，互相倾述着，相互沉醉。</p>
                    <p>温馨提示：浏览本页面时，最好把音乐打开，然后再进行阅读。因为既然我添加了推荐音乐，那就说明，我是戴着耳机，往复听这首歌完成对这个页面创作的。（当然也不强求的啦，你觉得怎样更好，就以怎样的方式阅读吧）</p>
                    <img src="http://d.5857.com/jdm1_171220/001.jpg" />
                </div>
            </figure>

            <figure class="detail-content-info">
                <figcaption class="dci-title">今日心情旋律：古典曲《罗密欧与朱丽叶》</figcaption>
                <div class="dci-content">
                    <p>每天放学都喜欢静静地听听各种音乐，翻找着专属于今天的曲子。每种曲调，每种悠扬，每种节拍等等，如果都和我的心情契合度很高的，也许它就是我今天最好的知己了，互相倾述着，相互沉醉。</p>
                    <p>温馨提示：浏览本页面时，最好把音乐打开，然后再进行阅读。因为既然我添加了推荐音乐，那就说明，我是戴着耳机，往复听这首歌完成对这个页面创作的。（当然也不强求的啦，你觉得怎样更好，就以怎样的方式阅读吧）</p>
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1333879442,847322849&fm=26&gp=0.jpg" />
                </div>
            </figure>

            <!-- <p >
                "你是不是喜欢我呀" "为啥总是总赖在我心里赶都赶不走呢"
            </p>
            <p class="detail-content-info">
                .“一个宇宙，八大行星，809个岛屿，224个国家和地区，而你，连对象都找不到。”“啥？老娘还用对象？那你有吗？”“我有啊”，说着把象棋里的对象拿了起来。
            </p>
            <p class="detail-content-info">
                你的这张自拍照好丑，感觉妹妹你本人十分之一漂亮。女生说，我是你认识的第几个女生，男生说，第几个我记不清楚了，反正是你是最可爱的那个。女生说，你有多喜欢我呢。用一句话描述出来。男生说，比昨天多一点点，比明天少一点点。
            </p>
            <p class="detail-content-info">
                女生说，你是不是以这样的方式套路过很多很多女生。男生说，一看你就是老司机。不过我并不是你说的那样，我妈妈说，遇到真正喜欢的，就不要再装傻乎乎啦，要勇敢要真诚，所以我就就解锁啦。
            </p>
            <p class="detail-content-info">
                <img src="http://d.5857.com/jiew_180125/001.jpg" />
            </p>
            <p class="detail-content-info">
                女生说，不吃多了，吃多了容易胖。男生可以说，胖了好呀，瘦的时候，你在我心里，胖的时候你就卡在我心里了，在也出不去了。    
            </p> -->
        </section>
    
    </div>

</section>
